
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
}

#landing_logo {
    height: 11vh;
    margin-left: 5vw;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-right: 5vw;
}

.flex-center li {
    list-style: none;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
a:hover{
    color: #017143;
}
main {
    position: relative;
    width: 100vw;
    height: 87vh;
}

.landing_right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.green-square {
    width: 35rem;
    height: 32rem;
    background-color: #017143;
    border-top-left-radius: 1000px;
}

#landing_bigCup {
    position: absolute;
    bottom: 69px;
    right: 187px;
}

#landing_bigCup img {
    max-width: 320px;
}

.social-icons {
    position: absolute;
    right: 0;
    bottom: 58%;
    margin-right: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}

.social-icons li {
    list-style: none;
    margin-top: 15px;
}

.fa-brands {
    filter: invert(1);
    font-size: 25px;
}
.fa-brands:hover {
    cursor: pointer;
}

.landingText {
    display: flex;
    flex-direction: column;
    width: 38vw;
    margin-left: 7.2vw;
    margin-top: 18px;
}

#landingTextDiv1 {
    font-size: 4em;
    font-weight: 900;
}

#landingTextDiv2 {
    font-size: 4em;
    font-weight: 900;
}

#span2 {
    color: #017143;
    font-size: 1.2em;
}

#landingTextBtn {
    margin-left: 1vw;
    font-weight: 500;
    font-size: large;
    border: none;
    border-radius: 40px;
    padding: 12px 15px;
    background-color: #017143;
    color: white;
    margin-top: 20px;
    width: 8.8vw;
}

#landingSmallCups {
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 37%;
    align-items: flex-end;
    justify-content: space-around;
    margin: 10px;
    height: 24vh;
    width: 24rem;
}

#small1,
#small2,
#small3 {
    transition: transform 0.3s ease;
}

#small1:hover,
#small2:hover,
#small3:hover {
    transform: translateY(-18px);
}

#landingTextDiv3 {
    line-height: 1.5rem;
}

#landing_bigCup img {
    max-width: 320px;
    transition: transform 0.5s ease;
}

#landing_bigCup img:hover {
    transform: translateY(-40px);
}
